// Grid system
.main {
  margin-top: 50px;
  margin-bottom: 50px;
  @include make-md-column($main-md-columns);
  @include breakpoint(xs) {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .sidebar-primary & {
    @include make-md-column($main-md-columns - $sidebar-md-columns);
  }
}
.sidebar {
  margin-top: 50px;
  @include make-md-column($sidebar-md-columns);
  @include breakpoint(xs) {
    margin-top: 20px;
  }
}
