/* ============
 * Typography
 * ============ */
 
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}
.text {
  &-primary {
    color: $text-primary;
  }
  &-secondary {
    color: $text-secondary;
  }
}

/* =============
 * Links
 * ============= */
a {
  color: $brand-primary;
  text-decoration: none;
  &:hover {
    color: $color-dark-primary;
    text-decoration: none;
  }
}


/* ============
 * Breakpoint
 * ============ */

@mixin breakpoint($class) {
  @if $class == xxs {
    @media (max-width: 480px) { @content; }
  }
  
  @else if $class == xs {
    @media (max-width: 767px) { @content; }
  }
 
  @else if $class == sm {
    @media (min-width: 768px) { @content; }
  }
 
  @else if $class == md {
    @media (min-width: 992px) { @content; }
  }
 
  @else if $class == lg {
    @media (min-width: 1200px) { @content; }
  }
 
  @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }
}
