/* ===============
 * 404
 * =============== */
 
.blog-404 {
    border-radius: 3px;
    background-color: #ffffff;
    border: solid 1px #eeeeee;
    padding: 50px;
    line-height: 1.6em;
    @include breakpoint(xs) {
        padding: 20px;
    }
    
    &-image {
        margin: 50px auto;
        max-width: 500px;
    }
    
    &-content {
        margin-top: 50px;
        &__heading {
            color: $text-primary;
            margin-top: 20px;
            margin-bottom: 10px;
            @include breakpoint(md) {
                font-size: 26px;
            }
            @include breakpoint(xs) {
                font-size: 20px;
            }
        }
    }
}